<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>


<%= render 'list', books: @books,user: @user %>

<h2>Books</h2>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>